<div class="container">
    <nav class="navbar  text-dark" style="background-color: #0c9cc0;">
       
   <h5 >SFC Bank pvt ltd</h5>
   <!-- <span class="quote text-light text-center"Giving you Freedom></span> -->
    </nav>
    <p>{{aim}}</p>
   
    <h2 class="text-center"><u>Login</u></h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="row">
       
        <div class="col-3"></div>
       
        <div class="col-6">
           
        <div class="mb-3 mt-3">
            <h5>Account Number:</h5>
         
       <input type="text" name="acno" formControlName="acno"  id="bk_username" placeholder="Account Number please"  class="form-control" required="">
       <!-- (change)="acnoChange($event)" -->
    </div>
    <div style="color: black;"  *ngIf="(this.loginForm.get('acno')?.touched||this.loginForm.get('acno')?.dirty)&&this.loginForm.get('acno')?.errors"  class="error"> Invalid account number</div>


        <div class="mb-3">
            <h5>Password:</h5>
            <input type="password" name="pswd" id="bk_password"  formControlName="pswd"  placeholder="enter password  " class="form-control" required>
            <!-- (change)="pswdChange($event)" -->
        </div>
        <div  *ngIf="(this.loginForm.get('pswd')?.touched||this.loginForm.get('pswd')?.dirty)&&this.loginForm.get('pswd')?.errors"  class="error"> Invalid password</div>

        <div class="mb-3">
            <input type="submit" name="login" value="login"  class="btn btn-primary" (click)="login()" required>

            <!-- <button class="btn btn-primary" (click)="login()" >Login</button>  -->
            <!-- //onclick="bank.login()" -->
        </div>
    
    </div>


<p style="text-align: center;">Not a User?<a routerLink="register">Register</a></p>
    <div class="col-3"></div>
    </div>
</form>
</div>


