<div class="containera1">
             <div class="aa">

    <nav class="navbar  text-dark" style="background-color: #0c9cc0;">
       
        <h5 >SFC Bank pvt ltd</h5>
         </nav>
         <h3 style="color: rgb(2, 0, 0);">welcome {{user}}</h3>
<a routerLink="/transaction" style="color: crimson;">transaction history</a>
    <h2 class="text-center"><u>Deposit Form</u></h2>

    <form [formGroup]="depositForm" (ngSubmit)="deposit()">

    <div class="row">
       
        <div class="col-3"></div>
       
        <div class="col-6">
           
        <div class="mb-3 mt-3">
            <h5>Account Number:</h5>
         
       <input type="text" name="acno" formControlName="acno"  id="bk_username" placeholder="Account Number please"  class="form-control" required="">
      
    </div>
    <div style="color: black;"  *ngIf="(this.depositForm.get('acno')?.touched||this.depositForm.get('acno')?.dirty)&&this.depositForm.get('acno')?.errors"  class="error"> Invalid account number</div>

        <div class="mb-3">
            <h5>Password:</h5>
            <input type="password" name="pswd" id="bk_password" formControlName="pswd"  placeholder="enter password  " class="form-control" required>
          
        </div>
        <div  *ngIf="(this.depositForm.get('pswd')?.touched||this.depositForm.get('pswd')?.dirty)&&this.depositForm.get('pswd')?.errors"  class="error"> Invalid password</div>

        <div class="mb-3">
            <h5>Amount</h5>
            <input type="text" name="amnt" id="bk_amount" formControlName="amount"  placeholder="enter Amount  " class="form-control" required>   
        </div>
        <div  *ngIf="(this.depositForm.get('amount')?.touched||this.depositForm.get('amount')?.dirty)&&this.depositForm.get('amount')?.errors"  class="error"> Invalid amount</div>

        <div class="mb-3">
            <input type="submit" name="deposit" value="deposit"  class="btn btn-primary"  required>

            <!-- <button class="btn btn-primary" (click)="deposit()"  >deposit</button>            -->
        </div> 
    </div>
    <div class="col-3"></div>
    </div>
    </form>
</div>
</div>

<!-- depoit form -->

<div class="containera2 mt-4 ">
    <div>
    <h2 class="text-center"><u>Withdraw Form</u></h2>
    <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">

    <div class="row">
       
        <div class="col-3"></div>
       
        <div class="col-6">
           
        <div class=" mb-3 mt-3">
            <h5>Account Number:</h5>
         
       <input type="text" name="acno" formControlName="acno"  id="bk_username1" placeholder="Account Number please"  class="form-control" required="">
      
    </div>
    <div style="color: black;"  *ngIf="(this.withdrawForm.get('acno')?.touched||this.withdrawForm.get('acno')?.dirty)&&this.withdrawForm.get('acno')?.errors"  class="error"> Invalid account number</div>

        <div class="mb-3">
            <h5>Password:</h5>
            <input type="password" name="pswd" id="bk_password1" formControlName="pswd"  placeholder="enter password  " class="form-control" required>
          
        </div>
        <div style="color: black;"  *ngIf="(this.withdrawForm.get('pswd')?.touched||this.withdrawForm.get('pswd')?.dirty)&&this.withdrawForm.get('pswd')?.errors"  class="error"> Invalid password</div>

        <div class="mb-3">
            <h5>Amount</h5>
            <input type="text" name="amnt" id="amount1" formControlName="amount"  placeholder="enter Amount " class="form-control" required>
          
        </div>
        <div style="color: black;"  *ngIf="(this.withdrawForm.get('amount')?.touched||this.withdrawForm.get('amount')?.dirty)&&this.withdrawForm.get('amount')?.errors"  class="error"> Invalid amount</div>

        <div class="mb-3">
            <input type="submit" name="withdraw" value="Withdraw"  class="btn btn-primary" required>

            <!-- <button class="btn btn-primary" (click)="withdraw()"  >Withdraw</button>            -->
        </div> 
    </div>

    <div class="col-3"></div>
    </div>
</form>
</div>

<!-- withdraw form -->







